@import "./variables";

.product-container {
  min-height: calc(100vh - 60px);
  display: flex;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  justify-content: space-between;
  align-content: center;
  max-width: 1100px;
  padding-bottom: 70px;
}

// .left {
//   width: 50%;
// }

.product-img {
  margin-right: 20px;
  align-items: center;

  &__single {
    max-height: 437px;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 50%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  align-items: stretch;
}

.product-details {
  &__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  &__description {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 300;
  }
}

.right-price {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

.form-input {
  border: 1px solid #e1e8ee;
  border-radius: 12px;
  height: 30px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  //padding: 0.375rem 0.75rem;
  padding-left: 1rem !important;
}

.form-control {
  border: 1px solid #e1e8ee;
  border-radius: 12px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
  &:focus {
    text-decoration: none;
  }
}

.btn-bag {
  @include btn-style;
  width: 100%;
  &:hover {
    @include btn-style-hover;
  }
}

.form-input {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
}

.alert-success {
  margin-top: 20px;
  margin-bottom: 80px;
  background-color: #dbeced;
  //background-color: #ffe9b9;
  border: 1px solid #cde8f0;
  //border: 1px solid #fedd95;
  width: 100%;
  position: relative;
  padding-bottom: 12px;
}

.alert-header {
  margin-bottom: 10px;
  padding-top: 0.75rem;
  padding-left: 1.25rem;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  background-color: transparent;
  border: 0;
  font-size: 1rem;
}

.voir-panier {
  padding: 12px 0px 12px 20px;
  cursor: pointer;

  &:hover {
    font-weight: 600;
  }
}

.fa-arrow-right {
  margin-right: 6px;
}

.mask-added {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 500px) {
  .product-container {
    display: flex;
    flex-wrap: wrap;
    //flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

  .product-img {
    align-items: center;
    //height: 400px;
    width: 270px;
    margin-bottom: 0;

    &__single {
      width: 100%;
    }
  }

  .right {
    flex: 1 1 auto;
    align-items: stretch;
  }

  // .input {
  //   width: 100%;
  // }

  .btn-bag {
    width: 100%;
  }

  .alert-success {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 501px) and (max-width: 769px) {
  .product-container {
    display: flex;
    flex-wrap: wrap;
    //flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

  .product-img {
    align-items: center;
    //height: 400px;
    width: 270px;
    margin-bottom: 0;

    &__single {
      width: 100%;
    }
  }

  .right {
    flex: 1 1 auto;
    align-items: stretch;
  }

  // .input {
  //   width: 100%;
  // }

  .btn-bag {
    width: 100%;
  }

  .alert-success {
    margin-bottom: 30px;
  }
}
